@charset "UTF-8";

*{
    font-family:  Arial, Helvetica, sans-serif;
   /
}

body{
    background-image: linear-gradient(to right,#F2D0A7,#F29F80,#F26363);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #61242456;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#D94169 ;
    text-align: center;
    text-shadow: 1px 2px 2px #6e2337d5;



}

h2{
    color:#171559 ;
}
p{
    text-align: justify;
}
